<div>
  <h3><%= link_to movie.name.capitalize, movie %></h3>
  <p>Year Of Release: <%= movie.year %></p>
  <p>Director: <%= movie.director %></p>
  <p>Lead Role: <%= movie.main_star %></p>
</div>
<hr>